@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/gilroy-bold.eot');
    src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/gilroy-bold.woff2') format('woff2'), url('../fonts/gilroy-bold.woff') format('woff'), url('../fonts/gilroy-bold.ttf') format('truetype'), url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/gilroy-medium.eot');
    src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/gilroy-medium.woff2') format('woff2'), url('../fonts/gilroy-medium.woff') format('woff'), url('../fonts/gilroy-medium.ttf') format('truetype'), url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #FFF;
}

.header {
    width: 1170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.menu_logo_div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo {
    width: 35px;
    height: 40px;
}

.name_company {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
}

.span_name_company {
    color: #F25822;
}

.menu {
    display: flex;
    align-items: center;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;
    gap: 20px;
}

.menu_home {
    color: #F25822;
}

.menu_button {
    color: #000;
}

.intro {
    margin-top: 160px;
    display: flex;
    gap: 40.94px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
}

.intro_title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
}

.intro_description {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-weight: 400;
    margin-top: 17px;
}

.intro_button_wrapper {
    margin-top: 52px;
}

.intro_button_left {
    width: 140px;
    height: 50px;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    border-radius: 50px;
    background: #F25822;
    border: none;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    cursor: pointer;
}

.intro_button_right {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    margin-left: 72px;
    border: none;
    background: none;
    cursor: pointer;
}

.cards {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
}